@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    background-color: #EEEEEE;
}

.navbar {
    background-color: #212121;
    padding: 10px;
}

.navbar-section {
    margin-bottom: -4px;
}

.navbar-link {
    color: #9E9E9E;
    margin-right: 15px;
    margin-top: -2px;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar-link.active {
    color: #FFFFFF;
    background-color: #EE222A;
    padding: 4px 10px;
    border-radius: 20px;
}

.navbar-link img {
    width: 36px;
    margin-right: -5px;
}

.center-itens {
    display: flex;
    align-items: center;
}

.button {
    padding: 12px;
    border: 0;
    border-radius: 5px;
    font-family: inherit;
    min-width: 64px;
}

.button.primary {
    color: #FFFFFF;
    background-color: #EE222A;
    border: 2px #EE222A solid;
}

.button.secondary {
    color: #000000;
    background-color: transparent;
    border: 2px #000000 solid;
}

.container {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    margin: 0 8px;
}

.input {
    width: 200px;
    background-color: #E0E0E0;
    padding: 8px;
    margin-top: 5px;
    border: 0;
    border-radius: 50px;
    outline: none;
}

@media (max-width: 620px) {

    .navbar {
        padding: 10px 0px;
    }

    .navbar .container, .navbar-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 10px;
    }

    .navbar-section .navbar-link {
        padding: 10px;
    }
    
    .navbar-link {
        width: 100%;
    }

    .navbar-link.active {
        border-radius: 0px;
    }

    .account-buttons {
        padding-left: 10px;
        box-sizing: border-box;
    }
}