@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

body {
    margin: 0;
}

.navbar {
    background-color: #EE222A;
    padding: 10px;
}

.navbar-link {
    color: #FFFFFF;
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}

.button {
    padding: 12px;
    border: 0;
    border-radius: 3px;
    font-family: 'Cabin', sans-serif;
}

.button.primary {
    color: #FFFFFF;
    background-color: #000000;
}

.button.secondary {
    background-color: #FFFFFF;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}