.title {
    margin-top: 50px;
}

.teams {
    display: flex;
    flex-wrap: wrap;
}

.team {
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.16), 0 1px 2px 0 rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
}

.team-pokemons {
    display: flex;
    align-items: center;
    height: 100%;
}

.team-pokemon {
    width: 50px;
    height: 100%;
    background-color: #E0E0E0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300%;
    transition-duration: 250ms;
}

.team-pokemon:hover {
    width: 150px;
    height: 150px;
    background-color: #212121;
    background-size: 100%;
    transition-duration: 250ms;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.16), 0 1px 2px 0 rgba(0,0,0,0.12);
    z-index: 2;
}

.team-info {
    padding: 4px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    visibility: hidden;
    opacity: 0;
    transition-duration: 250ms;
}

.team-info:hover > .controls {
    visibility: visible;
    cursor: pointer;
    opacity: 0.9;
    transition-duration: 250ms;
}

.add-team {
    background-color: #E0E0E0;
    background-image: url("../img/icons/add.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    min-width: 100px;
    height: 150px;
    border-radius: 2px;
}

.create {
    margin-top: 50px;
}

.selected-pokemons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.pokemon {
    background-color: #FFFFFF;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 80%;
    min-width: 130px;
    height: 150px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    padding: 4px;
    font-weight: bold;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.16), 0 1px 2px 0 rgba(0,0,0,0.12);
    transition-duration: 100ms;
}

.pokemon:hover {
    background-position-y: 40%;
    color: #EE222A;
    transition-duration: 250ms;
}

.pokemon.selected {
    background-color: #212121;
    color: white;
}

#teamForm {
    display: none;
}